html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo__img {
  width: 40px;
}

.btn-menu {
  opacity: 0.7;
  background: none;
  transition: 1s;
  border: none;
  padding: 0;
  height: 50px;
  width: 40px;
  position: relative;
  z-index: 200;
}

@media (hover:hover) {
  .btn-menu:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
  }
}

.btn-menu:active {
  transition: 0.2s;
  transform: scale(0.9);
}

.btn-menu::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 10px;
  transition: 1s;
}

.btn-menu::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 10px;
  transition: 1s;
}

.btn-menu_cliked::before {
  top: 20px;
  rotate: 45deg;
}

.btn-menu_cliked::after {
  top: 20px;
  rotate: -45deg;
}

.main {
  min-height: calc(100vh - 160px);
  padding: 10px;
  text-align: center;
}

.main_padding {
  padding-left: 80px;
}

.js-img {
  max-width: 500px;
  width: 100%;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.developer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.developer__img {
  width: 40px;
}

.toogle-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  word-break: break-all;
  text-align: center;
}

.navigation {
  position: fixed;
  top: 80px;
  left: 0;
  color: gray;
  border-radius: 4px;
  max-width: 320px;
  width: 100%;
  transition: 0.5s;
  height: calc(100vh - 160px);
  transform: translateX(-350px);
  background: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
}

.navigation_show {
  transform: translateX(0);
}

.stores,
.notification-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.notification {
  position: relative;
}

.notification__count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: yellow;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification__icon {
  width: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A6C5FF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A6C5FF;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu {
  padding: 12px;
  margin: 0;
}

.menu__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.menu__item a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.menu__item:nth-of-type(9) {
  padding-top: 10px;
  border-top: solid 1px gray;
}

.menu__item:nth-of-type(11) {
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
}

.icon {
  width: 35px;
}

.arrow {
  width: 12px;
  transition: 0.5s;
}

.arrow_up {
  transform: rotate(180deg);
}

.submenu {
  width: 100%;
  transform: translateX(-500px);
  position: absolute;
  list-style-type: none;
}

.submenu_show {
  position: static;
  transform: translateX(0);
  transition: 0.5s;
}

.small .description {
  display: none;
}

.small {
  width: 70px;
  background: white;
  backdrop-filter: blur(0);
}

.small .menu__item {
  justify-content: center;
}

.small .submenu {
  background: white;
  color: #A6C5FF;
  font-size: 12px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.small .submenu__item a {
  display: inline-block;
  width: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.small .toogle-box {
  font-size: 9px;
}

.hide {
  pointer-events: none;
  opacity: 0;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #A6C5FF;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #A6C5FF;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #A6C5FF;
}

@media (max-width: 480px) {
  .navigation {
    max-width: 100%;
  }
}