html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: black;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo__img {
  width: 40px;
}

.btn-menu {
  opacity: 0.7;
  background: none;
  transition: 1s;
  border: none;
  padding: 0;
  height: 50px;
  width: 40px;
  position: relative;
  z-index: 200;
}

@media (hover:hover) {
  .btn-menu:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
  }
}

.btn-menu:active {
  transition: 0.2s;
  transform: scale(0.9);
}

.btn-menu::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 10px;
  transition: 1s;
}

.btn-menu::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 40px;
  height: 5px;
  background: white;
  border-radius: 10px;
  transition: 1s;
}

.btn-menu_cliked::before {
  top: 20px;
  rotate: 45deg;
}

.btn-menu_cliked::after {
  top: 20px;
  rotate: -45deg;
}

.menu {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 10px;
  margin: 0;
  border: solid 1px white;
  border-radius: 4px;
  max-width: 320px;
  width: 100%;
  transition: 0.5s;
  height: calc(100vh - 160px);
  overflow-y: auto;
}

.menu__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.menu__item:nth-of-type(9) {
  padding-top: 10px;
  border-top: solid 1px white;
}

.menu__item:nth-of-type(11) {
  padding-bottom: 10px;
  border-bottom: solid 1px white;
}

.icon {
  width: 35px;
}

.arrow {
  width: 12px;
  transition: 0.5s;
}

.arrow_up {
  transform: rotate(180deg);
}

.submenu {
  width: 100%;
  transform: translateX(-500px);
  position: absolute;
}

.show {
  position: static;
  transform: translateX(0);
  transition: 0.5s;
}